#accountTable {
  margin: 5%;

  .pagination.react-bootstrap-table-page-btns-ul {
    float: right;
  }

  .filter.select-filter.form-control {
    margin-bottom: 0px;
  }

  #userListOptions {
    margin-bottom: 20px;

    #btnAddUser {
      margin-right: 10px;
    }

    #deactiveSection {
      padding-left: 16%;
    }
  }
}
