<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AwesomeCMSCore</title>

    <link href="~/dist/cmscore.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/dist/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
