<!-- Page Footer-->
<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Awesome CMS &copy; 2018</p>
            </div>
            <div class="col-sm-6 text-right">
            </div>
        </div>
    </div>
</footer>