<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png">
    <title>@ViewData["Title"] - AwesomeCMSCore</title>

    <link href="~/dist/cmscore.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        @await Html.PartialAsync("_AdminHeader")
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            @await Html.PartialAsync("_SideNavBar")

            <div class="content-inner">
                @await Html.PartialAsync("_PortalHeader")
                @RenderBody()
                <!-- Page Footer-->
                @await Html.PartialAsync("_AdminFooter")
            </div>
        </div>
    </div>
    <script src="~/dist/main.js"></script>
    <script src="~/dist/common.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
