<footer class="general-footer">

	<div class="footer-mask"></div>

	<div class="footer-inner">

		<div class="container">

			<div class="row">

				<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 footer-block">

					<div class="">

						<div class="footer-widget-content about-widget">

							<div class="widget-title">

								<h2>About Me</h2>

							</div>

							<div class="widget-about-site-logo">

								<span>Optimistic blog</span>

							</div>

							<div class="widget-content">

								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

							</div>

							<!-- // widget-content -->

							<div class="social-networks">

								<ul class="social-links">

									<li><a href="https://facebook.com/"></a></li>

									<li><a href="https://twitter.com/"></a></li>

									<li><a href="https://instagram.com/"></a></li>

									<li><a href="https://youtube.com/"></a></li>

									<li><a href="https://snapchat.com/"></a></li>

								</ul>

							</div>

						</div>

						<!-- // footer-widget-content -->

					</div>

					<!-- // footer block -->

				</div>

				<!-- // col -->

				<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 footer-block">

					<div class="">

						<div class="footer-widget-content">

							<div class="widget-title">

								<h2>Navigation</h2>

							</div>

							<div class="widget-content">

								<ul class="widget-category-listings">

									<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Lifestyle</a></li>

									<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Health</a></li>

									<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Article</a></li>

									<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Travel</a></li>

									<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Uncategorised</a></li>

								</ul>

							</div>

							<!-- // widget-content -->

						</div>

						<!-- // footer-widget-content -->

					</div>

					<!-- // footer block -->

				</div>

				<!-- // col -->

				<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 footer-block">

					<div class="">

						<div class="footer-widget-content">

							<div class="widget-title">

								<h2>Popular Posts</h2>

							</div>

							<div class="widget-content">

								<div class="widget-posts">

									<div class="post-title">

										<h5><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">5 Reasons Why Ladies Prefer To Have Brown Hair And Black Dress</a></h5>

									</div>

									<div class="posted-date">

										<span><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">January 10, 2018</a></span>

									</div>

								</div>

								<!-- // widget-post -->

								<div class="widget-posts">

									<div class="post-title">

										<h5><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Summer at fuji beach was something like i always had dreamed</a></h5>

									</div>

									<div class="posted-date">

										<span><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">January 11, 2018</a></span>

									</div>

								</div>

								<!-- // widget-post -->

								<div class="widget-posts">

									<div class="post-title">

										<h5><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Superstar arabic female singer rocking like a master pro singer</a></h5>

									</div>

									<div class="posted-date">

										<span><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">January 10, 2018</a></span>

									</div>

								</div>

								<!-- // widget-post -->

							</div>

							<!-- // widget-content -->

						</div>

						<!-- // footer-widget-content -->

					</div>

					<!-- // footer block -->

				</div>

				<!-- // col -->

			</div>

			<!-- // row -->

			<div class="copyright-and-nav-row">

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

						<div class="copyrights">

							<p>Copyrights 2017 Sparkle Themes</p>

						</div>

						<!-- // copyrights -->

					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

						<ul class="footer-navigation">

							<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Lifestyle</a></li>

							<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Health</a></li>

							<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Travel</a></li>

							<li><a href="https://offshorethemes.com/html/optimistic-blog/demo/index-two.php#">Article</a></li>

						</ul>

					</div>

				</div>

				<!-- // row -->

			</div>

			<!-- // copyright-and-nav-row -->

		</div>

		<!-- // container -->

	</div>

	<!-- // footer inner -->

</footer>