<header class="general-header header-layout-two">
	<div class="general-header-inner">
		<div class="header-top-wrapper">
			<div class="header-top-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="search">
								<i class="fa fa-search" aria-hidden="true"></i>
								<input type="search" placeholder="Search ..........">
							</div>
						</div>
						<!-- // col -->
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="social-link-element"></div>
							<!-- // social-networks -->
						</div>
						<!-- // col -->
					</div>
					<!-- // row -->
				</div>
				<!-- // container -->
			</div>
			<!-- // header-top-inner -->
		</div>
		<!-- // header-top-wrapper -->
		<div class="navigation-layout-two-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-8">
						<div class="site-info">
							<h1 class="site-title">Optimistic blog</h1>
						</div>
						<!-- // site-info -->
					</div>
					<!-- // col -->
					<div class="col-lg-9 col-md-9 col-sm-6 col-xs-4 position_static">
						<nav class="main-nav layout-two">
							<div id="main-nav" class="stellarnav light left desktop">
								<a href="#" class="menu-toggle full"><i class="fa fa-bars"></i> Menu</a>
								<!-- <ul>
									<a href="#" class="close-menu full"><i class="fa fa-close"></i> <span>Close</span></a>
									<li class="has-sub">
										<a href="#">Home Layout</a>
										<ul>
											<li>
											</li>
											<li><a href="#">Home Layout One</a></li>
											<li><a href="#">Home Layout Two</a></li>
											<li><a href="#">Home Layout Three</a></li>
											<li><a href="#">Home Layout Four</a></li>
											<li><a href="#">Home Layout Four + Full Width</a></li>

										</ul>
										<a class="dd-toggle" href="#"><i class="fa fa-plus"></i></a>
									</li>
									<li class="has-sub">
										<a href="#">Single Page layout</a>
										<ul>
											<li><a href="#">Single Page Layout One</a></li>
											<li><a href="#">Single Page Layout Two + Image</a></li>
											<li><a href="#">Single Page Layout Two + Video</a></li>
											<li><a href="#">Single Page Layout Three</a></li>
										</ul>
										<a class="dd-toggle" href="#"><i class="fa fa-plus"></i></a>
									</li>
									<li class="has-sub">
										<a href="#">Pages</a>
										<ul style="display: none;">
											<li>
											</li>
											<li class=""><a href="#">404 page</a></li>
											<li class="has-sub">
												<a href="#">Single Page</a>
												<ul>
													<li><a href="#">Single Page Layout One</a></li>
													<li><a href="#">Single Page Layout Two + Image</a></li>
													<li><a href="#">Single Page Layout Two + Video</a></li>
													<li><a href="#">Single Page Layout Three</a></li>
												</ul>
												<a class="dd-toggle" href="#"><i class="fa fa-plus"></i></a>
											</li>
											<li><a href="#">Search Page</a></li>

										</ul>
										<a class="dd-toggle" href="#"><i class="fa fa-plus"></i></a>
									</li>
									<li class=""><a href="#">Lifestyle</a></li>
								</ul> -->
							</div>
							<!-- .stellar-nav -->
						</nav>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // container -->
		</div>
		<!-- // navigation-layout-two-wrapper -->
	</div>
	<!-- // general-header-inner -->
</header>
@*<section class="general-banner banner-layout-two">
	<div class="general-banner-inner">
		<!-- Swiper -->
		<div class="banner-style-two-container swiper-container-horizontal swiper-container-free-mode">
			<div class="swiper-wrapper" style="transition-duration: 300ms; transform: translate3d(-7612px, 0px, 0px);">
				<div class="swiper-slide banner-card swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="4" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/6.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card" data-swiper-slide-index="0" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/1.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">2017 July Summer was the best time that we ever had</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card" data-swiper-slide-index="1" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/2.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card swiper-slide-prev" data-swiper-slide-index="2" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/4.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">The standard chunk of Lorem Ipsum used since the 1500s is reproduced</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card swiper-slide-active" data-swiper-slide-index="3" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/5.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"> <span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">It is a long established fact that a reader will be distracted</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card swiper-slide-next" data-swiper-slide-index="4" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/6.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
				<div class="swiper-slide banner-card swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 1903px;">
					<div class="featured-post-image">
						<img src="./Optimistic Blog Index_files/1.jpeg" alt="....">
						<div class="mask"></div>
					</div>
					<!-- // featured-post-image -->
					<div class="featured-content-holder">
						<div class="featured-content-meta">
							<a href="#"><span class="category">lifestyle</span></a>
						</div>
						<div class="featured-content-title">
							<h2><a href="#">2017 July Summer was the best time that we ever had</a></h2>
						</div>
						<div class="featured-posted-date">
							<span class="posted-date">17 December, 2017</span>
						</div>
					</div>
					<!-- // featured-content-holder -->
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>
		</div>
	</div>
	<!-- // general banner inner -->
</section>*@
