@using AwesomeCMSCore.Modules.Entities.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="avatar"><img src="~/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">Hello @UserManager.GetUserName(User)!</h1>
                <p>You login as: </p>
            </div>
        }
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a asp-action="Index" asp-controller="Portal"> <i class="icon-home"></i>Home </a></li>
        <li><a href="tables.html"> <i class="fa fa-thumb-tack"></i>Post </a></li>
        <li><a asp-action="Index" asp-controller="Tag"> <i class="fa fa-tags"></i>Tag </a></li>
        <li><a href="forms.html"> <i class="fa fa-cogs"></i>Setting </a></li>
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
        <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page </a></li>
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
    </ul>
</nav>