@using AwesomeCMSCore.Modules.Entities.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="avatar"><img src="~/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">Hello @UserManager.GetUserName(User) </h1>
                <p>You login as: </p>
            </div>
        }
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a asp-action="Index" asp-controller="Portal"> <i class="icon-home"></i>Home </a></li>
        <li><a asp-controller="Post" asp-action="Index"> <i class="fa fa-thumb-tack"></i>Post </a></li>
        <li><a asp-controller="Comment" asp-action="Index"> <i class="fa fa-comments"></i>Comment </a></li>
        <li><a asp-action="Index" asp-controller="PostOptions"> <i class="fa fa-tags"></i>Tag & Categories</a></li>
        <li><a asp-action="Index" asp-controller="Account"> <i class="fa fa-user-plus"></i>Account </a></li>
<!--         <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li> -->
		<!--         <li><a> <i class="icon-interface-windows"></i>Theme </a></li> -->
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li><a asp-action="Index" asp-controller="Settings"> <i class="fa fa-cogs"></i>Setting </a></li>
    </ul>
</nav>