@using AwesomeCMSCore.Modules.Account.Models.AccountViewModels
@model AwesomeCMSCore.Modules.Account.Models.AccountViewModels.LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Log in";
}

<div id="loginForm">
</div>
