#newPostContent {
    margin-top: 30px;

    #postContainer {
        margin: 20px 0 20px 0;

        #thumbnail-preview {
            margin-top: 15px;
            width: 295px;
            height: 205px;
        }

        #remove-icon {
            position: absolute;
        }
    }
}