#postContainer {
    margin: 20px 0 20px 0;

    #thumbnail-preview {
        margin-top: 15px;
        width: 295px;
        height: 205px;
    }

    #remove-icon {
        position: absolute;
        float: right;
        right: 0;
        margin-top: 8px;
        cursor: pointer;
    }

    .img-card-header-preview {
        padding: 15px;
    }
}