#postList {
  padding: 20px 10% 0 10%;

  #postHeaderSection {
    margin-bottom: 20px;
  }

  .postHeaderBtn {
    margin-right: 30px;
    width: 120px;
  }

  .postItem {
    height: 80px;
    cursor: pointer;
  }
}

.postFooter {
  margin-top: 30px;
}