@{
    ViewData["Title"] = "Tag & Categories Page";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div id="tagCreationSelect"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div id="categoriesCreationSelect"></div>
            </div>
        </div>
    </div>
</div>