@{
    ViewData["Title"] = "Manage Tags & Categories";
}

<div class="row">
    <div class="col-12 post-options-content"><div id="tagCreationSelect"></div></div>
    <div class="col-12 post-options-content"><div id="categoriesCreationSelect"></div></div>
</div>

@section Scripts
{
    <script src="~/dist/categories.js"></script>
    <script src="~/dist/tag.js"></script>
}