#loginContainer {
  padding-top: 5%;

  #loginForm {
    margin: 10% 35% 0;
    border: 1px solid #ddd;
    width: 350px;
    h3 {
      text-align: center;
    }
    #loginFormContent {
      padding: 50px;
    }
    .panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
      padding:10px;
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: inherit;
    }
    Input {
      width: 250px;
      margin-bottom: 15px;
    }
    Button {
      width: 250px;
    }
  }
}
