#accountTable {
  margin: 5%;

  #userListOptions {
    button {
      margin-right: 10px;
    }

    #addUserModal {
      button {
        margin-right: 0;
      }
    }

    margin-bottom: 20px;
  }
}
