@{
	ViewData["Title"] = "Awesome CMS Core";
}

<div class="single-wrapper main-post-area-wrapper">
	<div class="single-inner">
		<div class="container">
			<div class="search-page" id="index-page">
				<!-- // row that divides left and right sidebar -->
			</div>
			<!-- // search-page -->
		</div>
		<!-- // container -->
	</div>
	<!-- // single_inner -->
</div>
<!-- // single-wrapper --><div id="instafeed" class="instafeed owl-carousel feed-carousel">

</div>

@section Scripts
{
	<script src="~/dist/ClientIndex.js"></script>
}