.commentsTabWrapper {
    button {
        margin: 10px;
    }
}

.btn-outline-success-active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-danger-active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-warning-active {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}