#resetPasswordForm {
  #resetPasswordContainer {
    padding-top: 5%;
    width: 450px;
    margin-left: 30%;
    margin-top: 12%;

    .card-header {
      text-align: center;
    }

    #resetPasswordFormContent {
      padding: 50px;
    }

    .panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
      padding: 10px;
    }

    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: inherit;
    }

    .form-check {
      margin-bottom: 15px;
    }
  }
}
